<!DOCTYPE html>
<html>
<head>
<title></title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Pendent Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<script src="js/menu_jquery.js"></script>
<script src="js/simpleCart.min.js"> </script>
<link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
</head>
	
<body class="mem">
<!-- header -->
	
<!-- //header -->
<!-- top-header -->
<!--<div class="top_bg">
	<div class="container">
		<div class="header_top-sec">
			<div class="top_right">
				<ul>
					<li><a href="contact.html">Contact</a></li>|
					<li><a href="login.html">Track Order</a></li>
				</ul>
			</div>
			<div class="top_left">
				<ul>
					<li class="top_link">Email:<a href="mailto:info@example.com">info@example.com</a></li>|
					<li class="top_link"><a href="login.html">My Account</a></li>					
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- top-header -->
<!-- logo-cart -->
<div class="header_top">
	<div class="container">
	<div class="row">
	<div class="col-md-6">
		<div class="logo">
		 	<a href="index.html"></a>			 
		</div>
		</div>
		<div class="col-md-6">
		<div class="header_right">
				<img src="images/side.png" alt=" " class="img-responsive" />

					 </div>
		</div>
			</div>
	</div>
</div>
<div class="mega_nav">
	 <div class="container">
		 <div class="menu_sec">
		 <!-- start header menu -->
		<ul class="megamenu skyblue">
			<li class="active grid"><a class="color1" href="index.html">Home</a></li>
		     <li><a href="sub_page.html">About</a></li>
			<li><a href="sub_page2.html">Membership</a></li>
			<li><a class="color1" href="#">Training</a></li>
		    <li><a class="color1" href="#">Projects</a></li>
						 <li ><a class="color1" href="#">Events</a></li>
						 <li ><a class="color1" href="#">Media Room</a></li>
						 <li ><a class="color1" href="#">YellowPages</a></li>
						 <li ><a class="color1" href="#">Circulars</a></li>
						 <li ><a class="color1" href="#">Project Search</a></li>
								
		</ul> 
			
		 </div>
	  </div>
</div>

<!-- //logo-cart -->
<!------>

<!---->
<!-- banner -->
	<div class="banner">
		
		<div  id="top">
				<ul class="rslides" id="slider3">
					<li>
					<img src="images/img2.png" alt=" " class="img-responsive" />
						
					</li>
					<li>
						<img src="images/img1.png" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="images/img3.png" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="images/img4.jpg" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="images/img6.jpg" alt=" " class="img-responsive" />
					</li>
				</ul>
			</div>
		<div class="container">
<!-- Slider-starts-Here -->
				<script src="js/responsiveslides.min.js"></script>
				 <script>
				    // You can also use "$(window).load(function() {"
				    $(function () {
				      // Slideshow 4
				      $("#slider3").responsiveSlides({
				        auto: true,
				        pager: false,
				        nav: true,
				        speed: 500,
				        namespace: "callbacks",
				        before: function () {
				          $('.events').append("<li>before event fired.</li>");
				        },
				        after: function () {
				          $('.events').append("<li>after event fired.</li>");
				        }
				      });
				
				    });
				  </script>
			<!--//End-slider-script -->
			
		</div>
	</div>
<!-- //banner -->
<!-- //banner-bottom -->
				<div class="aboutback">
					<div class="container for">

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" class="for">
                <h2>APPLICATION <small>FOR MEMBERSHIP</small></h2>
                <hr class="colorgraph">
                <div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" name="organisation" id="organisation" class="form-control input-md" placeholder="Name of the Organisation" ng-model="member.organisation" tabindex="1">
                    </div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        <input type="text" name="pan" id="pan" class="form-control input-md" placeholder="PAN of the Organisation" ng-model="member.pan" tabindex="1">
                    </div>
					</div>
					</div>
					
                    <div class="form-group">
                        <input type="text" name="chairman" id="chairman" class="form-control input-md" placeholder="Chairman /MD" ng-model="member.chairman" tabindex="1">
                    </div>
                   
               <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control input-md" id="password" name="password" ng-model="member.password" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="password" placeholder="Conform Password"class="form-control input-md" id="cpassword" name="cpassword" ng-model="member.cpassword" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="number" name="phno" id="phno" class="form-control input-md" placeholder="Tel No." ng-model="member.phno" tabindex="1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="text" name="fax" id="fax" class="form-control input-md" placeholder="Fax No." ng-model="member.fax" tabindex="2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="number" name="mobile" id="mobile" class="form-control input-md" placeholder="Mobile No." ng-model="member.mobile" tabindex="1">
                        </div>
                    </div>
					<div class="col-xs-12 col-sm-6 col-md-6">
                   
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-md" placeholder="Email ID" ng-model="member.email" tabindex="2">
                       
                    </div>
                </div>
				</div>
				<div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <input type="text" name="website" id="website" class="form-control input-md" placeholder="Website" ng-model="member.website" tabindex="3">
                </div>
				</div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    <input type="text" name="representative" id="representative" class="form-control input-md" placeholder="Name of the Representative" ng-model="member.representative" tabindex="4">
                </div>
				</div>
				</div>
                <div class="form-group">
                    <input type="text" name="designation" id="designation" class="form-control input-md" placeholder="Designation" ng-model="member.designation" tabindex="4">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="number" name="rmobile" id="rmobile" class="form-control input-md" placeholder="Mobile No." ng-model="member.rmobile" tabindex="1">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            <input type="email" name="remail" id="remail" class="form-control input-md" placeholder="Email ID" ng-model="member.remail" tabindex="2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                         <div class="form-group">
                                <select class="form-control" id="exampleSelect1">
								  <option>Catagory</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
								</select>
							  </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                         <div class="form-group">
								<select class="form-control" id="exampleSelect1">
							  <option>Price Range</option>
							  <option>2</option>
							  <option>3</option>
							  <option>4</option>
							  <option>5</option>
							</select>
						  </div>
                    </div>
                </div>
                
				 <div class="form-group">
                        <textarea name="address" id="address" class="form-control input-md" ng-model="member.address" placeholder="Address"></textarea>
                    </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-3">
                        <span class="button-checkbox">
                            <button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
                            <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                        </span>
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-9">
                        By clicking 
                    </div>
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6"><input type="submit" ng-click="saveMember(member)" class="btn btn-primary btn-block " tabindex="7"></div>
                    <div class="col-xs-12 col-md-6"><a href="#" class="btn btn-success btn-block ">Sign In</a></div>
                </div>
            </form>
        </div>
    </div>
</div>
			</div>
				<div class="clearfix"></div>
			</div>
<!-- footer -->
	<div class="footer">
		
			<div class="clearfix"></div>
		</div>
	<div class="footer-copy">
		<p>© 2016 Ores. All rights reserved | Design by <a href="http:"> </a></p>
	</div>
<!-- //footer -->
</body>
</html>